extends ../includes/head.pug

block title 
    title Reset password

block styles
    link(rel="stylesheet" href="/styles/main.css")

block content 
    include ../includes/error-messages.pug
    div(class="d-flex flex-column align-items-center m-5")
        div(class="card bg-dark w-auto")
            form(class="px-4 py-3" action="/auth/reset-pwd" method="POST")
                div(class="mb-3")
                    label(for="email" class="form-label text-light") Tell us your e-mail
                    input(type="email" class="form-control bg-light bg-gradient border-dark" id="email" name="email" placeholder="email@example.com")
                div(class="d-flex flex-column align-items-center container")
                    input(
                        type="hidden"
                        value=csrfToken
                        name="_csrf")
                    button(class="btn btn-primary bg-dark" type="submit")
                        a Reset password!

block scripts 
    script(src="/js/main.js")
    script(src="bootstrap/dist/js/bootstrap.bundle.js")