extends ./includes/head

block title 
    title Page Not Found

block styles 
    link(rel="stylesheet" href="/styles/main.css")

block content
    main(class="text-center")
        h1(class="text-light text-align-center") Page not found!🤨

block scripts 
    script(src="/js/main.js")
    script(src="bootstrap/dist/js/bootstrap.bundle.js") 