extends ./includes/head

block title 
    title Page Not Found

block styles 
    link(rel="stylesheet" href="/css/main.css")

block content
    main
        h1 Page not found!

block scripts 
    script(src="/js/main.js")
    script(src="bootstrap/dist/js/bootstrap.bundle.js") 