extends ../includes/head.pug

block title 
    title #{pageTitle} 

block styles 
    link(rel="stylesheet" href="/styles/main.css")

block content 
    main(class="text-center")
        if orders.length <= 0
            h1(class="text-light text-align-center") Nothing here!🙈
        else 
            div(class="d-flex flex-column align-items-center")
                each order in orders 
                    div(class="card m-3 w-75 text-center center border-dark bg-dark text-light p-3")
                        h1.card-title Order # #{order._id}
                        each item in order.products 
                            p.card-text #{item.product.title} (#{item.quantity})
block scripts 
    script(src="/js/main.js")
    script(src="bootstrap/dist/js/bootstrap.bundle.js") 