extends ../includes/head.pug

block title 
    title #{pageTitle} 

block styles 
    link(rel="stylesheet" href="/scss/main.css")

block content 
    main(class="text-center")
        if orders.length <= 0
            h1(class="text-light text-align-center") Nothing here!🙈
        else 
            ul.orders 
                each order in orders 
                    div(class="orders__item text-light")
                        h1  # #{order._id}
                        div.orders__products
                            each product in order.items 
                                p.orders__products-item #{product.title} (#{product.quantity})
block scripts 
    script(src="/js/main.js")
    script(src="bootstrap/dist/js/bootstrap.bundle.js") 